* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    font-family: sans-serif;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

/* Menù laterale */
aside {
    float: left;
    width: 200px;
    height: 100vh;
    background-color: #040404;
    color: #ffffff;
    text-align: center;
    line-height: 50px;
}

aside .logo i {
    color: white;
    font-size: 50px;
}

.logo .icona,
.logo .spotify {
    float: left;
    padding: 10px;
}

.logo:hover {
    cursor: pointer;
}

h1 {
    font-size: 30px;
}

.menu-left {
    line-height: 20px;
    text-align: center;
    font-weight: bold;
}

.menu-icon {
    padding: 10px;
    border: 2px solid #040404;
}

.menu-left .home i {
    float: left;
    margin: 0 20px;
}

.menu-left .home p {
    float: left;
}

.menu-left .search i {
    float: left;
    margin: 0 20px;
}

.menu-left .search p {
    float: left;
}

.menu-left .library i {
    float: left;
    margin: 0 18px;
}

.menu-left .library p {
    float: left;
}

.menu-icon:hover {
    border-left-color: green;
    cursor: pointer;
}

.menu-playlist {
    padding: 0 30px;
}

.menu-playlist {
    text-align: left;
}

.menu-playlist p:hover {
    cursor: pointer;
}

.menu-playlist .playlist h3 {
    text-align: left;
}

.add-playlist {
    line-height: 0px;
    text-align: center;
}

.add-playlist:hover {
    cursor: pointer;
}

.plus {
    float: left;
    font-size: 30px;
}

.add-playlist p {
    line-height: 30px;
}

.profile {
    padding: 30px;
}

.placeholder {
    float: left;
    border-top: 1px solid grey;
}

.placeholder:hover{
    cursor: pointer;
}

.placeholder i,
.placeholder p {
    float: left;
    line-height: 50px;
    margin-right: 15px;
    font-size: 12px;
}

/* fine menù laterale */
/* header */

header {
    position: fixed;
    height: 80px;
    top: 0;
    left: 200px;
    display: flex;
    justify-content: flex-end;
    float: left;
    width: calc(100% - 200px);
    background-color: #0b0b0b;
    line-height: 70px;
}

header button {
    margin: 20px 40px;
    padding: 10px 20px;
    background-color: inherit;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 20px;
}

header button:hover {
    background-color: #f5f5f5;
    color: #040404;
    cursor: pointer;
}


/* fine header */

/* player */

footer {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 80px;
    background-color: #282828;
}

footer i {
    color: #b3b3b3;
}

footer i:hover {
    color: #ffffff;
    transform: scale(1.35);
    cursor: pointer;
}

.player-left {
    width: 25%;
    height: 100%;
    color: #ffffff;
    margin-left: 20px;
}

.player-left .cover {
    float: left;
    margin: 15px 30px;
    font-size: 50px;
}

.player-left .canzone {
    float: left;
    text-align: center;
    line-height: 0px;
}

.player-left p {
    line-height: 50px;
    margin-top: 10px;
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
}

.player-left .icona-cuore {
    float: left;
    line-height: 50px;
    margin: 15px 30px;
    margin-left: 50px;
}

.player-left .icona-cartella {
    float: left;
    line-height: 50px;
    margin: 15px 0;
}
.player-center {
    width: 50%;
    height: 100%;
}

.icone-player {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    width: 100%;
    height: 60%;
    background-color: #282828;
    text-align: center;
    line-height: 100%;
}

.icone-player i {
    font-size: 25px;
}

.barra-player {
    display: flex;
    justify-content: center;
    margin: 5px auto;
    color: #b3b3b3;
    font-weight: bold;
}
.barra-player p {
    margin: 5px;
}

.barra {
    border: 3px solid #b3b3b3;
    border-radius: 10px;
    width: 85%;
    height: 0px;
    margin: auto 5px;
}

.pallino {
    border-radius: 100%;
    width: 2%;
    border: 7px solid #ffffff;
    margin: -7px;
}

.player-right {
    width: 25%;
    height: 100%;
    padding-top: 10px;
    font-size: 20px;
}

.icona-right {
    float: left;
    margin: 20px;
    color: #b3b3b3
}

.icona-right:hover {
    color: #ffffff;
}

.barra-volume {
    border: 2px solid #b3b3b3;
    border-radius: 2px;
    width: 30%;
    margin-top: 30px;
    margin-left: 0px;
}
/* fine palyer */
/* main */

main {
    float: left;
    height: 100vh;
    width: calc(100% - 200px);
    background-color: #121212;
    overflow-y: auto;
    padding: 10px;
}

main .spazio {
    height: 800px;
}

.navbar-top {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 80px;
    padding: 25px;
}

.navbar-top p {
    font-size: 12px;
    color: #b3b3b3;
    font-weight: bold;
}

.nav-element {
    border: 2px solid #121212;
    margin-right: 30px;
}

.nav-element:hover {
    border-bottom-color: green;
    cursor: pointer;
}

main h3 {
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 30px;
}

.card {
    flex: 0 0 200px;
    text-align: center;
    color: #ffffff;
    margin-right: 30px;
}

.card .title,
.card .artista {
    margin-top: 10px;
}

.card:hover {
    cursor: pointer;
}

.card .immagine {
    background-size: cover;
    height: 170px;
}

.card .immagine .start {
    font-size: 70px;
    line-height: 170px;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
}

.card .immagine:hover .start {
    display: block;
}

.img1 {
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.ytimg.com%2Fvi%2F6EhpJSa8jaY%2Fhqdefault.jpg&f=1&nofb=1");
}

.img2 {
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Frockitecn.nohup.it%2Fthumb400x400%2Fcopertine%2F29927.jpg&f=1&nofb=1");
}

.img3 {
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.ytimg.com%2Fvi%2FHKVOOUCIdI4%2Fhqdefault.jpg&f=1&nofb=1");
}

.img4 {
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.ytimg.com%2Fvi%2FkUhpV6jzLWU%2Fhqdefault.jpg&f=1&nofb=1");
}

main small {
    color: #b3b3b3;
}

.container2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 30px;
}

.img5 {
    background-image: url("https://i.scdn.co/image/7f587bc2606cdd9907d7452e92a2158c63fa8a6e");
}

.img6 {
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.scdn.co%2Fimage%2F70f76273f1e3043ef141f9a450464bf5ff742e88&f=1&nofb=1");
}

.card-circle {
    flex: 0 0 200px;
    text-align: center;
    color: #ffffff;
    margin-right: 30px;
}

.card-circle .title,
.card-circle .artista {
    margin-top: 10px;
}

.card-circle:hover {
    cursor: pointer;
}

.card-circle .immagine {
    background-size: cover;
    height: 170px;
    border-radius: 50%;
}

.card-circle .immagine .start {
    font-size: 70px;
    line-height: 170px;
    border-radius: 50%;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
}

.card-circle .immagine:hover .start {
    display: block;
}


@media screen and (max-width: 739px) {
    aside {
        width: 80px;
    }

    aside p,
    aside h1,
    aside h3,
    aside .plus,
    aside .profile {
        display: none;
    }

    main {
        width: calc(100% - 80px);
    }

    header {
        width: calc(100% - 80px);
        left: 80px;
    }
}
